body {
    display: flex;
    flex-direction: column;
    padding-top: 56px;
    min-height: 100vh;
}
main {
    flex: 1;
}
#carouselExampleIndicators img {
    width: 100%;
    height: calc(100vh - 56px - 50px);
    object-fit: cover;
}

#second-navbar {
    background-color: #dde;
    display: flex;
}
#second-navbar a {
    height: 50px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#second-navbar a:hover {
    background-color: grey;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #666;
    height: 100px;
    padding: 20px;
}

footer a {
    margin: 5px;
    text-decoration: none!important;
}

.social-icon {
    display: inline-flex;
    width: 50px;
    height: 50px;
    color: #666;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
